fastapi
uvicorn
sqlalchemy
alembic
pydantic
pydantic-settings
python-multipart
jsonschema
lightgbm
scikit-learn
imbalanced-learn
numpy
pandas
python-jose
passlib[bcrypt]
aiofiles
aiosqlite
psycopg2-binary
asyncpg
shap
joblib
json-logic
pytest
httpx